
*.class
# OSX
.DS_Store

# Package Files #

*.war
*.ear
target/
build/

# IntelliJ Idea
.idea/
*.iml
!open311-android.iml
# Eclipse
.classpath
.project
.settings/
.*.md.html

# Default cache file
cache.prop
